<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; connect-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" href="lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <link rel="stylesheet" type="text/css" href="css/home.css">
        <title>DispoResto</title>
    </head>
    <body ng-app="myApp" ng-controller="RegisterController">
        <nav id="navbar-white" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button href="#menu-toggle" class="slidebar-toggle" id="menu-toggle">
                    <span class="sr-only">Toggle sidebar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span><a class="navbar-brand" href="#">DispoResto</a></span>
            </div>
        </nav>

        <div id="wrapper" ng-controller="ConnectionController">
            <!-- Sidebar -->
            <div id="slidebar-white" class="slidebar-nav">
                <nav id="navbar-white" class="navbar navbar-default" role="navigation">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#" data-toggle="modal" data-target="#modalRegistration">Inscription</a></li>
                        <li role="presentation"><a href="#" data-toggle="modal" data-target="#modalConnection">Connexion</a></li>
                    </ul>
                </nav>
            </div>

            <!-- Page Content -->
            <main id="page-wrapper6">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#resto-card">Fiche restaurant</a>
                            <a href="#list-reservation">Liste réservation</a>
                            <a href="#editer-restaurant">editer restaurant</a>
                            <a href="#restaurater-profil">profil</a>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-view></div>
                    </div>
                </div>
            </main>
            <!-- Modal for Registration -->
            <div id="modalRegistration" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Inscription</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="firstName">Prénom</label>
                                    <input type="text" ng-model="user.firstName" class="form-control" id="firstName" placeholder="Prénom">
                                </div>
                                <div class="form-group">
                                    <label for="lastName">Nom</label>
                                    <input type="text" ng-model="user.lastName" class="form-control" id="lastName" placeholder="Nom">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Adresse mail">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Mot de passe">
                                </div>
                                <div class="form-group">
                                    <label for="confirmedPassword">Confirmer le mot de passe</label>
                                    <input type="password" ng-model="user.confirmedPassword" class="form-control" id="confirmedPassword" placeholder="Mot de passe">
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="user.isRestaurateur" > Restaurateur ?
                                    </label>
                                </div>
                                <button id="sign-up" type="submit" ng-click="register(user)" class="btn btn-default" data-dismiss="modal">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal for Connection -->
            <div id="modalConnection" class="modal fade" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Connexion</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" ng-model="user.email" class="form-control" id="email" placeholder="Adresse mail">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" ng-model="user.password" class="form-control" id="password" placeholder="Mot de passe">
                                </div>
                                <button type="submit" id="connectionButton" ng-click="connection(user)" class="btn btn-default" data-dismiss="modal">Se connecter</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <script src="lib/jquery-3.1.1.min.js"></script>
        <script src="cordova.js"></script>

        <!-- Database -->
        <script src="plugins/cordova-sqlite-storage/www/SQLitePlugin.js"></script>

        <script src="js/index.js"></script>

        <script src="lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular-route/angular-route.min.js"></script>
        <script src="lib/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
        <script src="lib/materialize/js/materialize.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/controllers/list-reservation.controller.js"></script>
        <script src="js/controllers/register.controller.js"></script>
        <script src="js/controllers/connection.controller.js"></script>
        <script src="js/controllers/restaurater-profil.controller.js"></script>
        <script src="js/controllers/resto-card.controller.js"></script>
        <script src="js/controllers/save-resto.controller.js"></script>
        <script src="js/controllers/home.controller.js"></script>

        <script type="text/javascript" src="js/database/database.js"></script>
        <script type="text/javascript" src="js/database/reservation.js"></script>
        <script type="text/javascript" src="js/database/restaurant.js"></script>
        <script type="text/javascript" src="js/database/user.js"></script>

        <script>
            (function($){
                $(function(){
                    $('.button-collapse').sideNav();
                    $(document).ready(function(){
                        // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
                        $('.modal').modal();
                    });
                    $('#modalRegistration').on('shown.bs.modal', function () {
                        $('#firstName').focus()
                    })
                    $("#menu-toggle").click(function(e){e.preventDefault();$("#wrapper").toggleClass("toggled");});
                }); // end of document ready
            })(jQuery); // end of jQuery name space
        </script>
    </body>
</html>
