 <div id="modalSaveResto" >
            <div class="modal-body">
                <form>

                	<div>
			    		<!--Nom du restaurant -->
						<label for="nomRestaurant">Nom du restaurant </label>
				        <input ng-model="restaurant.name" id="nom" type="text" class="form-control" placeholder="Nom du restaurant" required/>
			        </div>

			       


			        <div>
			        	<!--Description du restaurant -->
						<label for="descRestaurant">Description du restaurant </label>
						<textarea ng-model="restaurant.description" id="description" type="text" class="form-control" placeholder="Description du restaurant"   cols="40" rows="5" ></textarea>		
	
			        </div>
			     
			    	


			        <div>
				        <!--Adresse-->
						<label for="adresse">Numéro et nom de rue </label>
						<input ng-model="restaurant.adresse" id="adresseRestaurant" type="text" class="form-control" placeholder="Numéro et nom de la rue" required/>
					</div>

								

					<div>

						<label for="codePostal">Code postal </label>
						<input ng-model="restaurant.codePostal" id="codePRestaurant" type="number" class="form-control" placeholder="Code postal" required/>			

			        </div>


					
			        <div>
			        	<label for="Ville">Ville :</label>
						<input ng-model="restaurant.ville" id="villeRestaurant" type="text" class="form-control" placeholder="Ville" required/>
			        </div>



			        <!--Specialité-->
			        <div>
				        <label for="specialite">Spécialité </label>

				        <select ng-model="restaurant.specialite" id="specialiteRestaurant" class="form-control" name="specialite" id="specialite" required>
				        	<option value="none" selected>Sélectionnez la spécialite du restaurant</option>
				        	<option value="indien">Indien</option>
				        	<option value="italien">Italien</option>
				    	</select>
		    		</div>
			   
		    		 <div>
			        	
						<label for="carteRestaurant">Menu </label>
						<textarea ng-model="restaurant.carte" id="carte" type="text" class="form-control" placeholder="exemple: Blanquette de veau traditionnelle - Plat (70$)" cols="60" rows="8" ></textarea>		
	
			        </div>

			        <div>
			        	
						<label for="timeTableRestaurant">Horaires d'ouverture </label>
						<textarea ng-model="restaurant.timeTable" id="timeTable" type="text" class="form-control" placeholder="exemple: Petit Déjeuner : de 07h30 à 9h30 (tous les jours)"   cols="60" rows="8" ></textarea>		
	
			        </div>
			     
			     
		    		<div>
			        	<label for="nbCouverts">Nombre de places :</label>
						<input ng-model="restaurant.nbPlaces" id="nbPlace" type="number" class="form-control" placeholder="Nombre de places"  required/>
			        </div>

		        

			        <div>
			        	<label for="images">Photos :</label>
						<input ng-model="restaurant.images" id="imagesRestaurant" type="file" class="form-control" placeholder="Photos"  />
			        </div>
			


					<button type="submit" class="btn btn-default" ng-click="save(restaurant)">Enregistrer</button>
				</form>
			</div>
</div>	
