<div class="container">
    <div class="row">
        <form class="navbar-form center-block" role="search">
            <div class="input-group add-on">
                <input ng-model="global_search" class="form-control" placeholder="Rechercher un restaurant, une spécialité, ..." name="global-search" id="global-search" type="text">
                <div class="input-group-btn">
                    <button ng-click="searchByText(global_search)" class="btn btn-default" type="submit" name="global-search"><i class="glyphicon glyphicon-search"></i></button>
                    <button class="btn btn-default"><i class="glyphicon glyphicon-map-marker" ng-click=""></i></span>
                </div>
            </div>
        </form>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#collapseSpecialities" aria-expanded="false" aria-controls="collapseSpecialities">
                    Spécialités
                </button>
                <div class="collapse" id="collapseSpecialities">
                    <div class="form-group">
                        <select class="form-control" id="specialities" ng-model="search.speciality">
                            <option></option>
                            <option>Chinois</option>
                            <option>Indien</option>
                            <option>Fast Food</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                    Prix
                </button>
                <div class="collapse" id="collapsePrice">
                    <div class="form-group">
                        <select class="form-control" id="prices" ng-model="search.range_price">
                            <option></option>
                            <option>5 - 10 €</option>
                            <option>10 - 15 €</option>
                            <option>15 - 20 €</option>
                            <option>+ de 20€</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#collapseAvailability" aria-expanded="false" aria-controls="collapseAvailability">
                    Disponibilité
                </button>
                <div class="collapse" id="collapseAvailability">
                    <div class="form-group">
                        <select class="form-control" id="availability" ng-model="search.availability">
                            <option></option>
                            <option ng-repeat="n in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">{{n}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default center-block" type="button" data-toggle="collapse" data-target="#collapseHours" aria-expanded="false" aria-controls="collapseHours">
                    Horaires
                </button>
                <div class="collapse" id="collapseHours">
                    <div class="form-group">
                        <select class="form-control" id="hours" ng-model="search.hours">
                            <option></option>
                            <option>Midi</option>
                            <option>Soir</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button ng-click="searchByFilters(search)" class="btn btn-default center-block" type="submit" name="search-filter">Rechercher&#9;<i class="glyphicon glyphicon-search"></i></button>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">Restaurants du moment</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- HERE WILL BE NG-REPEAT OF SOME RESTAURANTS OF THE DB -->
        <div class="col-md-6">
            <a href="#resto-card">
                <div class="clickable-content">
                    <img src="img/fouquets.jpg" class="img-responsive img-rounded" alt="Fouquet's">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="text-center">Le Fouquet's</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
