<div>
  <table class="table" id="list-reservation">
    <thead>
      <th>First name</th>
      <th>Last name</th>
      <th>Number</th>
      <th></th>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
