
<div class="container">

	<h1 id="restaurant-title">Fouquet's Paris</h1>

    <div class="container">

  		<div id="myCarousel" class="carousel slide" data-ride="carousel">
    		<!-- Indicators -->
    		<ol class="carousel-indicators">
		      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		      <li data-target="#myCarousel" data-slide-to="1"></li>
		      <li data-target="#myCarousel" data-slide-to="2"></li>
		      <li data-target="#myCarousel" data-slide-to="3"></li>
    		</ol>

    		<!-- Wrapper for slides -->
		    <div class="carousel-inner" role="listbox">
			    <div class="item active">
			    	<img src="img/fouquets.jpg" class="img-responsive"/>
			    </div>

			    <div class="item">
			        <img src="img/fouquets2.jpg" class="img-responsive"/>
			    </div>

			    <div class="item">
			        <img src="img/fouquets3.jpg" class="img-responsive"/>
			    </div>

			    <div class="item">
			        <img src="img/fouquets.jpg" class="img-responsive"/>
			    </div>
			</div>

	    	<!-- Left and right controls -->
		   <!--<a class="left carousel-control" href="#resto-card" role="button" data-slide="prev">
		      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		      <span class="sr-only">Previous</span>
		    </a>
		    <a class="right carousel-control" href="#resto-card" role="button" data-slide="next">
		      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		      <span class="sr-only">Next</span>
		    </a>-->
  		</div>
	</div>

	<div class="container-fluid">
		<section>
			<h2>Un mot sur le restaurant</h2>
			<div id="restaurant-longDescription"></div>
		</section>
	</div>

	<div class="container-fluid">
		<section>
			<h2>Carte du restaurant</h2>
			<div id="restaurant-carte"></div>
		</section>
	</div>


	<div class="container-fluid">
		<section>
			<h3>Horaires d&#039;ouverture</h3>
			<div id="restaurant-timetable"></div>
		</section>
	</div>

</div>
