<div class="col-sm-10">
<head>
  <p class="h4">Votre Profil</p>
</head>
<body>
  <form>
          <div class="form-group">

              <label for="" class="col-sm-2 control-label">Nom</label>
                <input type="text" class="form-control" id="lastName" ng-model="lastName"></input>
                <br/>
              <label for="" class="col-sm-2 control-label">Prénom</label>
                <input type="text" class="form-control" id="firstName" ng-model="firstName"></input>
                <br/>
              <label class="col-sm-2 control-label">Email</label>
                <input type="email" class="form-control" id="mail" ng-model=mail></input>
                <br/>
              <label for="" class="col-sm-2 control-label">Password</label>
                <input type="password" class="form-control" id="password" ng-model=password></input>
                <br/>
              <label for="exampleInputFile">Inserer une photo</label>
                 <input type="file" id="exampleInputFile"/>
                 <br/>
              <button type="submit" ng-click="update(lastName, firstName, mail)" class="btn btn-default">Enregistrer</button>

            </div>

          </form>
</body>
</div>
